/**
 * 单个商品价格
 */
var setSingle = function(item) {
  var unitType = item.unitType;
  var priceType = item.priceType;
  var sellSingle = item.sellSingle;
  var midSingle = item.midSingle;
  var sellAll = item.sellAll;
  var midAll = item.midAll;
  var writePrice = item.writePrice;
  return unitType === 1 ? (
    priceType === 1 ? sellSingle : priceType === 2 ? midSingle : writePrice
  ) : (
    priceType === 1 ? sellAll : priceType === 2 ? midAll : writePrice
  );
}

/**
 * 单个商品总价
 */
var setAll = function (item) {
  var unitType = item.unitType;
  var priceType = item.priceType;
  var sellSingle = item.sellSingle;
  var midSingle = item.midSingle;
  var sellAll = item.sellAll;
  var midAll = item.midAll;
  var writePrice = item.writePrice;
  var goodNum = item.goodNum || item.num;
  if (!goodNum) {
    return 0;
  }
  return unitType === 1 ? (
    priceType === 1 ? goodNum * sellSingle : priceType === 2 ? goodNum * midSingle : goodNum * writePrice
  ) : (
    priceType === 1 ? goodNum * sellAll : priceType === 2 ? goodNum * midAll : goodNum * writePrice
  );
}

/**
 * 单选
 */
var singleTitle = function(value, options) {
  var title;
  for (var i = 0; i < options.length; i ++) {
    var item = options[i];
    if (item.id == value) {
      title = item.name;
    }
  }
  return title;
}

/**
 * 多选
 */
var multipleTitle = function(value, options) {
  var title = [];
  var typeList = value.split(',');
  for (var i = 0; i < typeList.length; i ++) {
    var item = typeList[i];
    for(var j = 0; j < options.length; j ++) {
      var todu = options[j];
      if (item == todu.code) {
        title.push(todu.name);
      }
    }
  }
  return title;
}

/**
 * 
 */
var sexTitle = function(value, options) {
  // console.log('sexTitle', JSON.stringify(value), JSON.stringify(options));
  var title;
  for (var i = 0; i < options.length; i ++) {
    var item = options[i];
    if (item.value == value || item.id == value) {
      title = item.text;
    }
  }
  return title;
}

module.exports = {
  setSingle: setSingle,
  setAll: setAll,
  singleTitle: singleTitle,
  multipleTitle: multipleTitle,
  sexTitle: sexTitle
};